body {
  background-color: rgb(256, 226, 60);
  font-family: 'Tilt Neon', cursive;
}

#names-test {
  display: flex;
  flex-direction: column;
}

input {
  position: absolute;
  left: 84px;
}

header {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(241, 189, 18);
}

#add-user {
  position: absolute;
  left: 270px;
  margin-bottom: 50px;
}

.persona0,
.persona1,
.persona2,
.persona3,
.persona4,
.persona5 {
  margin-bottom: 10px;
}

.btn-calcular0, 
.btn-calcular1, 
.btn-calcular2,  
.btn-calcular3, 
.btn-calcular4,  
.btn-calcular5  {
  width: 150px;
  margin: 5px 0px;
}

