#names-test {
  display: flex;
  flex-direction: column;
}

.btn-calcular0, 
.btn-calcular1, 
.btn-calcular2,  
.btn-calcular3, 
.btn-calcular4,  
.btn-calcular5  {
  width: 150px;
  margin: 5px 0;
}

#add-user {
  margin-bottom: 30px;
}